.App {
  text-align: center;
  margin-top: 3rem;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.form {
 padding-top: 2rem;
}

.card {
  width: 150px;
  padding:3rem
}
img {
  width: 100%;
}

small {
  font-size: 0.7rem;
}