.card {
    max-width: 390px;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    padding-top:0rem;
    font-family: 'PT Mono', monospace;
    margin-bottom: 3rem;
}

.background--bitcoin{
    background: linear-gradient(248.04deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 99.07%), #FFAE34;
}

.background--blockchain {
    background: linear-gradient(248.52deg, rgba(0, 0, 0, 0.15) 1.49%, rgba(0, 0, 0, 0) 100%), #8B58F9;
}

.background--evilcorp {
    background: linear-gradient(248.3deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 100%), #F33355;
}

.background--ninjabank {
    background: linear-gradient(248.3deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #222222;
}
.card__icons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.card__chip {
    height: 82px;
}

.card__logo {
    height: 38px;   
}
.space--between {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.card__heading {
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}
.card__number {
    font-size: 1.813rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card__info {
    font-size: 1.125rem;   
    text-transform: uppercase;
    margin: 0;
}