.events__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Sansita', sans-serif;
    color:#F56B9A;
    font-size: 32px;
    line-height: 37px;  
    margin-top: 2rem;
    margin-bottom: 5rem;
}