form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}
label, p {
    align-self: start;
}
input {
    width: 300px;
}
button {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
}
